# --- Python ---
venv/
.venv/
__pycache__/
*.pyc
venv_github/

# --- Node/React ---
node_modules/
dist/
.eslintcache

# --- Environment & Secret ---
.env

# --- IDE ---
.vscode/
.idea/

# MacOS
.DS_Store
